<!doctype html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dashboard</title>
  
  <link rel="stylesheet" href="{% static 'login/assets/css/styles.min.css' %}" /> 
   <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/font-awesome/css/all.min.css' %}">
	
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/choices/css/choices.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/aos/aos.css' %}">

	
	
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed" >
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="{% url 'beta' %}" class="text-nowrap logo-img">
            <img src="{% static 'assets/images/icon.png' %}" width="100px" alt="" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Home</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'dashboard' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Dashboard</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Course</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'mycourses' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-bookmark"></i>
                </span>
                <span class="hide-menu">My Courses</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'messages' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-messages"></i>
                </span>
                <span class="hide-menu">Messages</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'courses' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-article"></i>
                </span>
                <span class="hide-menu">All Courses</span>
              </a>
            </li>
             <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'subscription' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-alert-circle"></i>
                </span>
                <span class="hide-menu">Subscriptions</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'quiz' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-cards"></i>
                </span>
                <span class="hide-menu">Quiz</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'editprofile' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-edit"></i>
                </span>
                <span class="hide-menu">Edit Profile</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'viewprofile' request.user.id %}" aria-expanded="false">
                <span>
                  <i class="ti ti-user"></i>
                </span>
                <span class="hide-menu">View Profile</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'settings' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-settings"></i>
                </span>
                <span class="hide-menu">Settings</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link text-danger bg-danger-soft-hover" href="{% url 'logout' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-logout"></i>
                </span>
                <span class="hide-menu">Logout</span>
              </a>
            </li><!--
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">AUTH</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="./authentication-login.html" aria-expanded="false">
                <span>
                  <i class="ti ti-login"></i>
                </span>
                <span class="hide-menu">Login</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="./authentication-register.html" aria-expanded="false">
                <span>
                  <i class="ti ti-user-plus"></i>
                </span>
                <span class="hide-menu">Register</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">EXTRA</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="./icon-tabler.html" aria-expanded="false">
                <span>
                  <i class="ti ti-mood-happy"></i>
                </span>
                <span class="hide-menu">Icons</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="./sample-page.html" aria-expanded="false">
                <span>
                  <i class="ti ti-aperture"></i>
                </span>
                <span class="hide-menu">Sample Page</span>
              </a>
            </li> -->
          </ul>
          
        </nav>
      
      
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">
          <ul class="navbar-nav">
            <li class="nav-item d-block d-xl-none">
              <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                <i class="ti ti-menu-2"></i>
              </a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                <i class="ti ti-bell-ringing"></i>
                <div class="notification bg-primary rounded-circle"></div>
              </a>
            </li> -->
          </ul>
          <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
             
              <li class="nav-item dropdown">
                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img src="{% if request.user.profilepic == '' %}{% static 'assets/images/avatar/01.png' %}{% else %}{{ request.user.profilepic.url }}{% endif %}" alt="" width="35" height="35" class="rounded-circle">
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                  <div class="message-body">
                    <a href="{% url 'viewprofile' request.user.id %}" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-user fs-6"></i>
                      <p class="mb-0">My Profile</p>
                    </a><a href="{% url 'editprofile'  %}" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-edit fs-6"></i>
                      <p class="mb-0 ">Edit Profile</p>
                    </a>
                    {% if request.user.is_superuser %}
                    <a href="{% url 'admin'  %}" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-users fs-6"></i>
                      <p class="mb-0 ">Admin</p>
                    </a>
                    {% endif %}
                    <a href="{% url 'logout' %}" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!--  Header End -->
      <div class="container-fluid">
        
          {% if messages %}
        <div style="display: flex;justify-content: center;"><div class="message" style="width: 100%;">
            {% for message in messages %}
            
            {% if message.tags == 'error' %}
            <div class="alert alert-danger" >{{ message }}</div>
            {% else %}
            <div class="alert alert-success" >{{ message }}</div>
              {% endif %}
          
          {% endfor %}</div></div>
            {% endif %}
           
            <!-- Google Font -->
            <link rel="preconnect" href="https://fonts.googleapis.com/">
            <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&amp;family=Roboto:wght@400;500;700&amp;display=swap">
          
            <!-- Plugins CSS -->
            <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/font-awesome/css/all.min.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}">
           
          
            <!-- Theme CSS -->
          
          
          </head>
          
          <body>



<!-- Main content START -->
<div class="col-xl-12">
    <!-- Privacy START -->
    <div class="border rounded-3">
        <div class="row">
            <div class="col-12">
                <!-- Card START -->
                <div class="card bg-transparent">
                    <!-- Card header START -->
                    <div class="card-header bg-transparent border-bottom">
                        <h3 class="card-header-title">Settings</h3>
                    </div>
                    <!-- Card header END -->

                    <!-- Card body START -->
                    <div class="card-body">

                        <!-- Profile START -->
                        <h5 class="mb-4">Profile Settings</h5>
                        <div class="form-check form-switch form-check-md">
                            <input class="form-check-input" type="checkbox" role="switch" id="profilePublic" checked>
                            <label class="form-check-label" for="profilePublic">Your profile's public visibility</label>
                        </div>
                        <!-- Profile START -->

                        <hr><!-- Divider -->

                        <!-- Notification START -->
                        <h5 class="card-header-title">Notifications Settings</h5>
                        <p class="mb-2 mt-3">Choose type of notifications you want to receive</p>
                        <div class="form-check form-switch form-check-md mb-3">
                            <input class="form-check-input" type="checkbox" id="checkPrivacy1" checked="">
                            <label class="form-check-label" for="checkPrivacy1">Notify me via email when logging in</label>
                        </div>
                        <div class="form-check form-switch form-check-md mb-3">
                            <input class="form-check-input" type="checkbox" id="checkPrivacy2">
                            <label class="form-check-label" for="checkPrivacy2">Send SMS confirmation for all online payments</label>
                        </div>
                        <div class="form-check form-switch form-check-md mb-3">
                            <input class="form-check-input" type="checkbox" id="checkPrivacy3" checked="">
                            <label class="form-check-label" for="checkPrivacy3">Check which device(s) access your account</label>
                        </div>
                        <div class="form-check form-switch form-check-md mb-3">
                            <input class="form-check-input" type="checkbox" id="checkPrivacy4">
                            <label class="form-check-label" for="checkPrivacy4">Show your profile publicly</label>
                        </div>
                        <!-- Notification START -->

                        <!-- Buttons -->
                        <div class="d-sm-flex justify-content-end">
                            <button type="button" class="btn btn-sm btn-primary me-2 mb-0">Save changes</button>
                            <a href="#" class="btn btn-sm btn-outline-secondary mb-0">Cancel</a>
                        </div>

                    </div>
                    <!-- Card body END -->
                </div>
                <!-- Card END -->
            </div> 	
            <!-- Privacy END -->
        </div>
    </div>
    <!-- Main content END -->
</div><!-- Row END -->


         

<script src="{% static 'login/assets/libs/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'login/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'login/assets/js/sidebarmenu.js' %}"></script>
<script src="{% static 'login/assets/js/app.min.js' %}"></script>


<script src="{% static 'assets/vendor/purecounterjs/dist/purecounter_vanilla.js' %}"></script>

<script src="{% static 'assets/vendor/choices/js/choices.min.js' %}"></script>
<script src="{% static 'assets/vendor/aos/aos.js' %}"></script>


<!-- Template Functions -->
<script src="{% static 'assets/js/functions.js' %}"></script>



</body>

</html>